<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <center>
        <form  method="post">
        <label for="username">Username:</label>
        <input type="text" id="name" name="name"  value=<?php echo $arg->name;?>>
        <br><br>
        <label for="password">email:</label>
        <input type="email" id="email" name="email"  value= <?php echo $arg->email;?>>
        <br><br>
        <input type="submit" value="edit" ><br>
        </form>
        <a href="<?php echo BASE_PATH;?>"> Go Back Home </a> 
        </center>
    
</body>
</html>